:root {
  --border-size: 2px solid #5d51e7;
  --background-color-black: #283046;
  --button-color: #5d51e7;
  --text-color: #a59eff;
  --bs-indigo: #9d41e8;
  --purple-boxshadow: 0 12px 16px 0 #5d51e7, 0 17px 50px 0 #5d51e7;

}


* {
  font-family: monospace sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;

}

img {
  height: 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;

}






/* ----header and header items---- */
.header {
  
  background-color: var(--background-color-black);
  color: var(--text-color);
  border-bottom: 1px solid #5d51e7;
  padding: 0 3rem;

  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  

}

/* ----search bar---- */
.search-bar {
  align-self: center;
  display: flex;
}

.search-btn {
  outline: none;
  background-color: transparent;
  border: none;
  transition-duration: 0.4s;
  border-radius: 10px;
  
}

.search-btn:hover {
  box-shadow: var(--purple-boxshadow);
  background-color: var(--button-color);
  
}

input[type=search] {
  width: 30rem;
  height: 2.3rem;
  background-color: var(--background-color-black);
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;
  border: var(--border-size);
  color: var(--text-color);

  outline: none;
}

input[type=search]:hover {
  box-shadow: var(--purple-boxshadow);
}

/* ---- alerts bell ---- */
.bell-btn {
  border-radius: 5px;
}

.bell-btn:hover {
  box-shadow: var(--purple-boxshadow);
  background-color: var(--button-color);
  height: 30px;
  
}

.icon {
  
  border-radius: 60%;

}


/* ----- intro ----- */

.intro {
  display: flex;
  gap: 25px;
}

.greeting {
  font-size: 22px;
  font-weight: 600;
}

/* ----header Alerts---- */

.header-alerts {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
}

a.name {
  font-weight: 700;
  font-size: 2rem;
}

/* ----share Buttons---- */
.share-btns {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 14px;
}

.share-btns button {
  width: 7rem;
  height: 3rem;
  border-radius: 20px;
  
  font-size: 22px;
  font-weight: 500;

  background-color: var(--button-color);
  transition-duration: 0.4s;
  
}

.share-btns button:hover {
  background-color: var(--bs-indigo);
  box-shadow: 0 12px 16px 0 var(--button-color), 0 17px 50px 0 var(--button-color);
}



/* ----DashBoard styles---- */ 


.dashboard {
  color: var(--text-color);
  background-color: var(--background-color-black);
  grid-row: 1/3;
  border-right:1px solid #5d51e7;
  

}

.db-header img {
  height: 50px;
}

.db-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

ul, li {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;

}

.db_links {
  display: flex;
  flex-direction: column;
  gap: 40px;


}

.db_links li {
  display: flex;
  align-items: center;
  gap: 30px;
  

  
}

.db_links img:hover {
  height: 35px;
  background-color: var(--button-color);
}

.db_links li:hover {
  background-color: rgb(10 13 16);
  border-radius: 10px;

}



/* ----project cards----- */

.p-container {
  background-color: rgb(10, 13, 16);
  color: var(--text-color);

  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 600;
}


.project-t {
  padding: 0 15px;
  position: absolute;
}


.projects { 
  
  padding: 100px 15px 0 15px;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 20px;

}

.card {
  background-color: var(--background-color-black);
  border-left: 7px solid #5d51e7;

  
  padding: 15px;
  box-shadow: var(--button-color) 0px 2px 4px, var(--button-color) 0px 7px 13px -3px, var(--button-color) 0px -3px 0px inset;

  display: grid;
}

.card-share {
  text-align: end;
  padding: 20px;
  height: 2.5rem;
  
}

.card-share img:hover {
  background-color: var(--button-color);
  height: 2.5rem;
}

p.title {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}
/* ----Announcements Card---- */

.annouce-title {
  grid-column: 4/5;
  grid-row: 1/1;
  margin-bottom: 0;
  
 

}

.announcements {
  color: var(--text-color);
  padding: 0 15px;
  
  grid-column: 4/5;
  grid-row: 1;

  
}

.feed {
  
  background-color: var(--background-color-black);
  border-radius: 10px;
  box-shadow: var(--button-color) 0px 2px 4px, var(--button-color) 0px 7px 13px -3px, var(--button-color) 0px -3px 0px inset;
  padding: 15px;
  text-align: start;
  

  


}

/* ----Trending Card----*/

.trending-title {
  margin: 0;
}

.trending {
  grid-column: 4/5;
  padding: 15px;
  color: var(--text-color);
}

.user {
  
  background-color: var(--background-color-black);
  border-radius: 10px;
  padding: 15px;
  box-shadow: var(--button-color) 0px 2px 4px, var(--button-color) 0px 7px 13px -3px, var(--button-color) 0px -3px 0px inset;
}