:root {
  --border-size: 2px solid black;

}


* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: monospace sans-serif;
  
}

button {
  background-color: grey;
}

.header {
  border: var(--border-size);
  background-color: aqua;

}

.dashboard {
  border: var(--border-size);
  background-color: red;

}

.projects {
  background-color: blueviolet;
  border: var(--border-size);
}

.card {
  background-color: azure;
  border: var(--border-size);
  
}

.announcements {
  border: var(--border-size);
}

.trending {
  border: var(--border-size);
}